---
layout: default
title: Home
---
        <a id="top"></a>
		
        <div id="header-container" class="center">
            <div id="header" class="content center">
                <h1>Omotoyosi Taiwo</h1>
                <span id="header-links">
				
                <a href="https://github.com/toyobaba"> GitHub </a> |
                <a href="resume.pdf"> Resume </a> | 
                <a href="https://github.com/toyobaba"> Projects </a> | 
				<a href="https://github.com/toyobaba"> DataCenter </a> |
                <a href="mailto:omtaiwo@gmail.com"> Email </a>
				
                </span>
				<hr>
				<strong>Software Engineer (Backend) and Electrical Engineer (Semiconductors)</strong> <br/>
				<strong>I write code,  I lift weights, and  I play chess</strong></p>
				
            </div>
        </div>
		
	
		<section class="box">
		 <div id="content-container" class="center">
            <div id="content" class="content left">          

                <h2 class="center">Work History</h2>
				
				<!-- Loop Work contents wth Liquid -->
				{% for work in site.works %}
				
					<div class="project">
					<header>
						<a href="{{work.worksite}}">      
						<img itemprop="logo" src="{{work.image_path}}" alt="RPI">      
						</a>
						
						<h2><a href="github.com/toyobaba">{{ work.name }}</a></h2>						
					</header>
					<em>{{work.from}}&ndash;{{work.to}}</em><br />
					<strong>{{ work.role }}</strong><br />
					<strong>Technologies Used:</strong>{{ work.technologies }}
						
						<ul class = "work">
							<li>{{ work.description }}</li>
						</ul>
						
					</div>
				{% endfor %}

               
            </div>
        </div>
	</section>	
	
	<section class="box">
        <div id="content-container" class="center">
            <div id="content" class="content left">          

                <h2 class="center">Projects</h2>
				
				<!-- Loop Project contents wth Liquid -->
				{% for project in site.projects %}
					<div class="project">
						<h2><a href="{{ project.file_path }}">{{ project.name }}</a></h2>
						<em>January 2017&ndash;May 2019</em><br />

						<strong>Technologies Used:</strong>{{ project.technologies }}
						<ul>
							<li>{{ project.description }}</li>
							<!--<a href="evals-2017-1.pdf" target="_blank" class="btn">Spring 2017</a> -->
						</ul>
						
					</div>
				{% endfor %}

               
            </div>
        </div>
		
	</section>	

		
        <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",

            "name": "Omotoyosi Taiwo,
            "born": "1991-07-05",
            "email": "pmtaiwo@gmail.com",
            "gender": "Male",

            "jobTitle": "Electrical and Software Engineer",
            "url": "toyobaba.github.io"
        }
        </script>
