---
layout: default
title: Home
---
        <a id="top"></a>
		
        <div id="header-container" class="center">
            <div id="header" class="content center">
                <h1>Toyosi Taiwo</h1>
                <div class="header-links">
                <a class="header-link" href="https://github.com/toyobaba"><i class="bi bi-github"></i> GitHub</a>
                <a class="header-link" href="resume.pdf"><i class="bi bi-file-earmark-person"></i> Resume</a>
                <a class="header-link" href="#projects"><i class="bi bi-briefcase"></i> Projects</a>
                <a class="header-link" href="https://www.linkedin.com/in/omotoyosi-taiwo-a201b820/"><i class="bi bi-linkedin"></i> LinkedIn</a>
                <a class="header-link" href="mailto:omtaiwo@gmail.com"><i class="bi bi-envelope-fill"></i> Email</a>
                <a class="header-link" href="blog.html"><i class="bi bi-journal-code"></i> R Notebooks</a>
                </div>
				<hr>
				<p>
				<strong> Senior Data Engineer </strong> <br/>
				<strong> I like to learn new things, stay fit, and play <a href="https://lichess.org/@/matttai90">chess</a></strong></p>
				
            </div>
        </div>
		
		<section class="box">
        <div id="projects" class="center">
            <div id="content" class="content left">          

                <h2 class="center">Projects</h2>
				
				<!-- Loop Project contents wth Liquid -->
				{% for project in site.projects %}
					<div class="project">
					<header>
						<h2><a href="{{ project.file_path }}">{{ project.name }}</a></h2>
						
						<a href="{{project.source1}}">      
						<img itemprop="logo" src="{{project.source1_path}}" title ="{{project. source1_image_title}}">      
						</a>
						
						{% if project.source2 %}
						<a href="{{project.source2}}">      
						<img itemprop="logo" src="{{project.source2_path}}" title ="{{project. source2_image_title}}">      
						</a>
						{% endif %}
					</header>
						
						<em>{{project.asiko}}</em><br />

						<strong>Technologies Used:</strong> &nbsp; {{ project.technologies }}
						<ul style="list-style-type:square" class = "work_description">
							<li>{{ project.description }}</li>
							<!--<a href="evals-2017-1.pdf" target="_blank" class="btn">Spring 2017</a> -->
						</ul>
						
					</div>
				{% endfor %}

               
            </div>
        </div>
		
	</section>	
	
		<section class="box">
		 <div id="content-container" class="center">
            <div id="content" class="content left">          

                <h2 class="center">Work History</h2>
				<br>
				
				<!-- Loop Work contents wth Liquid -->
				{% for work in site.works %}
				
					<div class="work">
					<header>
						<a href="{{work.worksite}}">      
						<img itemprop="logo" src="{{work.image_path}}" alt="RPI">      
						</a>
						
						<h2><a href="{{work.worksite}}">{{ work.name }}</a></h2>						
					</header>
					<em>{{work.from}}&ndash;{{work.to}}</em><br />
					<strong>{{ work.role }}</strong><br />
					<strong>Technologies Used:</strong>&nbsp; {{ work.technologies }}
						
						<ul style="list-style-type:square" class = "work_description">
							<li>{{ work.description }}</li>
						</ul>
						
					</div>
					<br>
				{% endfor %}

               
            </div>
        </div>
	</section>	
		
	<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "Person",

		"name": "Toyosi Taiwo,
		"born": "1991-07-05",
		"email": "pmtaiwo@gmail.com",
		"gender": "Male",

		"jobTitle": "Electrical and Software Engineer",
		"url": "toyobaba.github.io"
	}
	</script>
